*
{
    margin:0;
    padding:0;
    font-family:century Gothic;
    background-attachment: fixed ;
}
body{
}



ul li{
    display:inline-block;

}
ul li a{
    text-decoration: none;
 color:orange;
 }
 ul li a:hover{
    background-color: while;
    color:black;
 }
 ul{
    float:right;
    list-style-type: none;
 }
 
li{
 
      text-decoration: none;
      color:orange;
      padding:5px 20px;
}
 li a:hover{
   background-color: while;
    color:black;
 }
 h1{
   float: left;
 }
 .navbar-nav,.nav-item{
       display:inline;
}
.navbar-nav,.nav-item,.nav-link{
   text-decoration: none;
 color:orange;
}
.navbar-nav,.nav-item,.nav-link:hover{
   color: blue;
}
 .navbar-nav{
    float:left;
    list-style-type: none;

 }
nav{

    background-image: url('SH.jpg');"

   background-color: blue;
 }
 button{
    text-align: center;
    margin: 6px 100px;
 }
 h2{
       margin: 6px 100px;
 
 }

h3{
    text-align: center;

}
